<%- include('../partials/header'); %>
<form action="/login" method="POST">
<%  for(let x = 0; x < questions.length; x++) { %>
        <div class="question">

            <h4><%= questions[x].question.substring(1) %></h1>

                    <div class="row g-5">
                        <% for(let y = 0; y < questions[x].answers.length; y++) { %>
                        <div class="col">
                         <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioInline<%= x %>" id="inlineRadioDefault<%= y %>">
                            <label class="form-check-label" for="inlineRadioDefault<%= y %>"><%= questions[x].answers[y] %></label>
                        </div>
                        </div>
                        <% } %>
                    </div> 
        </div>
<% }; %>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
</html>