<!--Author: Preston Button https://github.com/prestonButton -->
<%- include('../partials/header'); %>
    <div class="div1">
        <h2>Your Matches!</h2>

        <div class="middle">

            <div class="matchBox">
                <div class="div2" style="overflow-x: hidden;">
                    <div class="contentBox">

                        <div class="row g-5">
                            <%  for(let x = 0; x < matchesArray.length; x++) { %>
                            <!-- Start of card -->
                            <div class="col">
                                <div class="subcard-mobile" id="userCard">
                                    <% //To make them independent you have to have different ids %>
                                        <div id="carousel<%=x%>" class="carousel slide carousel-fade" data-bs-ride="carousel"
                                            data-bs-interval="10000000000000">
                                            <ol class="carousel-indicators">
                                                <% //make sure the data-bs-target is the id of the %>
                                                    <li data-bs-target="#carousel<%=x%>" data-bs-slide-to="0" class="active"
                                                        area-current="true"></li>
                                                    <li data-bs-target="#carousel<%=x%>" data-bs-slide-to="1"></li>
                                                    <li data-bs-target="#carousel<%=x%>" data-bs-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="card roundedCorners text-white bg-primary subcard-mobile"
                                                        id="userCard">
                                                        <img id="userImage" src="<%= 'http://localhost:3000/images/'+ matchesArray[x].picture_name%>"
                                                            class=" userImg card-img-top imgRoundedTopCorners"
                                                            alt="card-img-top">
                                                        <div class="card-body">
                                                            <h2 class="card-title card-title-mobile" ><%=matchesArray[x].first_name%> <%=matchesArray[x].last_name%></h2>
                                                            <h2 class="card-title card-title-mobile" ><%=matchesArray[x].first_name%></h2>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="carousel-item">
                                                    <div class="card roundedCorners text-white bg-primary subcard-mobile"
                                                        id="userCard">
                                                        <div class="card-body">
                                                            <h2 class="card-title">Bio</h2>
                                                            <% //need to add a character limit here %> 
                                                            <p><%=matchesArray[x].bio%></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="carousel-item">
                                                    <div class="card roundedCorners text-white bg-primary subcard-mobile"
                                                        id="userCard">
                                                        <div class="card-body">
                                                            <h2 class="card-title">Contact</h2>
                                                            <div class="d-flex justify-content-center">
                                                                <div class="btn-group-vertical align-items--center"
                                                                    id="contact-links-mobile" role="group"
                                                                    aria-label="Basic button group">
                                                                    <% if(matchesArray[x].instagram) { %>
                                                                        <a href="https://www.instagram.com/<%=matchesArray[x].instagram%>/"
                                                                            aria-current="page"><img
                                                                                class="my-1 contact-imgs"
                                                                                src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
                                                                                alt="Instagram"></a>
                                                                    <% } %>
                                                                    <% if(matchesArray[x].snap) { %>
                                                                        <a
                                                                        href="https://snapchat.com/add/<%=matchesArray[x].snap%>"><img
                                                                            class="my-4 contact-imgs"
                                                                            src="https://feelinsonice.appspot.com/web/deeplink/snapcode?username=jackh_johnston&size=400&type=PNG"
                                                                            alt="Snapchat"></a>
                                                                    <% } %>
                                                                    
                                                                    <a href="mailto: <%=matchesArray[x].username%>"
                                                                        aria-current="page"><img
                                                                            class="my-8 contact-imgs"
                                                                            src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png"
                                                                            alt="Email"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>

                                            <% //make sure the href corresponds to the id of the carousel %>
                                                <a class="carousel-control-prev" href="#carousel<%=x%>" role="button"
                                                    data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel<%=x%>" role="button"
                                                    data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </a>


                                        </div>
                                </div>
                            </div>
                            <!-- End of card -->
                             <% } %>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>