<%- include('../partials/header'); %>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="http://localhost:3000/images/<%=userInfo.pictureName%>" alt="profile picture"><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="fieldform">
                            <form id="change-prof" action="/profile" method="POST">
                                <fieldset>
                                    <label for="firstName">First Name: <input id="fname2" name="firstName" type="text" value="<%=userInfo.firstName%>" required /></label>
                                    <label for="lastName">Last Name: <input id="lname2" name="lastName" type="text"  value="<%=userInfo.lastName%>" required /></label>
                                    <label for="number">Age (years): <input id="age2" type="number" name="age" min="18" max="120" value="<%=userInfo.age%>" required/></label>
                                    <label for="sex">Sex
                                        <select id="sex2" name="sex">
                                            <% if(userInfo.sex === "male") { %>
                                                <option value="male" selected>Male</option>
                                                <option value="female">Female</option>
                                            <% } else { %>
                                                <option value="male">Male</option>
                                                <option value="female"selected>Female</option>
                                            <% } %>
                                        </select>
                                    </label>
                                    <label for="Class Year">Class Year
                                        <select id="cy-form2" name="classYear">
                                            <% if (userInfo.classYear === 2024) { %>
                                                <option value=2024 selected>2024</option>
                                                <option value=2025>2025</option>
                                                <option value=2026>2026</option>
                                                <option value=2027>2027</option>
                                            <% } else if(userInfo.classYear === 2025) { %>
                                                <option value=2024>2024</option>
                                                <option value=2025 selected>2025</option>
                                                <option value=2026>2026</option>
                                                <option value=2027>2027</option>
                                            <% } else if(userInfo.classYear === 2026) { %>
                                                <option value=2024>2024</option>
                                                <option value=2025 >2025</option>
                                                <option value=2026 selected>2026</option>
                                                <option value=2027>2027</option>
                                            <% } else if(userInfo.classYear === 2027) { %>
                                                <option value=2024>2024</option>
                                                <option value=2025>2025</option>
                                                <option value=2026>2026</option>
                                                <option value=2027 selected>2027</option>
                                            <% } %>
                                        </select>
                                    </label>
                                    <label for="bio">Bio</label>
                                    <textarea name="bio" id="bio2" cols="50" rows="3"><%=userInfo.bio%></textarea>
                                    <label for="instagram" id="instagram2">Instagram<input id="instagram2" name="instagram" type="text" value="<%=userInfo.instagram%>" required /></label>
                                    <label for="snapchat" id="snapchat2">Snapchat <input id="snapchat2" name="snapchat" type="text" value="<%=userInfo.snapchat%>" required /></label>
                                </fieldset>
                            </form>
                            <div class="mt-5 text-center">
                                <button class="btn profile-button" onclick=validSubmit2()>Save Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </div>
    </body>
</html>